# ===============================
# Java / Maven
# ===============================
*.class
/target/

# Maven internal files
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# ===============================
# Logs
# ===============================
*.log
hs_err_pid*
replay_pid*

# ===============================
# Archives / Packages
# ===============================
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# ===============================
# IDEs
# ===============================
.vscode/
.idea/
*.iml

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Local runtime data
# ===============================
/data/
*.mv.db
*.trace.db

# Local tooling artifacts
cp.txt
hash.jsh
